| <!-- inject:js -->
| <!-- endinject -->
if process.argv.slice(3).indexOf('--production') > -1
	script(src="./js/addons.min.js")
	script(src="./js/app.min.js")
else 
	script(src="./js/addons.js")
	script(src="./js/app.js")
