//- .row
//- 	.col-3.mt-5(ng-repeat="i in data")
//- 		img.img-fluid(src="{{i.img}}", alt="")
//- 		h5 {{i.Name}}
//- 		p {{i.City}}
//- 		//a(href="/#~/service/{{$index}}") detail
//- 		//a(href="/#~/service/{{$index}}") detail
//- 		//a (ui-sref="contacts.detail({contactId: id})"
//- 		a(ui-sref="data({data: id})"
		
